<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Natours | <%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" type="image/png" href="https://github.com/lgope/Natours/blob/master/public/img/logo-green-round.png?raw=true">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700">
</head>
<body data-alert="<%= alert ? alert : '' %>">

  <!-- HEADER -->
  <header class="header">
    <nav class="nav nav--tours">
      <a class="nav__el" href="/">All tours</a>
    </nav>
    <div class="header__logo">
      <img src="/img/logo-white.png" alt="Natours logo">
    </div>
    <nav class="nav nav--user">
      <% if (user) { %>
        <a class="nav__el nav__el--logout" href="/logout">Log out</a>
        <a class="nav__el" href="/me">
          <img class="nav__user-img" src="/img/users/<%= user.photo %>" alt="Photo of <%= user.name %>">
          <span><%= user.name.split(' ')[0] %></span>
        </a>
      <% } else { %>
        <a class="nav__el" href="/login">Log in</a>
        <a class="nav__el nav__el--cta" href="/signup">Sign up</a>
      <% } %>
    </nav>
  </header>

  <!-- CONTENT -->
  <% extends 'base' %>

<% block content %>
<main class="main">
  <div class="error">
    <div class="error__title">
      <h2 class="heading-secondary heading-secondary--error">Uh oh! Something went wrong!</h2>
      <h2 class="error__emoji">😢 🤯</h2>
    </div>
    <div class="error__msg"><%= msg %></div>
  </div>
</main>
<% endblock %>


  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer__logo">
      <img src="/img/logo-green.png" alt="Natour logo">
    </div>
    <ul class="footer__nav">
      <li><a href="#">About us</a></li>
      <li><a href="#">Download apps</a></li>
      <li><a href="#">Become a guide</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <p class="footer__copyright">&copy; by Lakshman Gope.</p>
  </footer>

  <script src="https://js.stripe.com/v3/"></script>
  <script src="/js/bundle.js"></script>
</body>
</html>
